@charset "UTF-8";

h1{
text-align: center;
color: #626262;
font-size: 60px;
}

h3{
text-align: right;
color: #626262;
font-size: 20px;
position: absolute;
bottom: 0;
right: 0;
  margin-bottom: 50px;
  margin-right: 50px;
}

body {
	text-align:center;
	color: #33FF99;
/* background-color: #33FF99; */
background-image: url("https://media.istockphoto.com/vectors/film-projector-vector-id601921966?k=20&m=601921966&s=170667a&w=0&h=Ju-Azqbogslt5LpSKSDvb7HN17Oxh8Z8UR4AkK9DBsg=");
  height: 100%;
background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
a{
	color: #33FF99;
	font-size: 40px;
}
a:hover {
  color: #626262;
}
